<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home Page</title>

  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="./css/style.css">

  <style>
    body {

      margin: 0px;

      padding: 0px;

      color: white;

      background-color: #E4F9F5;
      ;

      font-family: 'Merriweather', serif;
    }

    .end {

      text-align: center;

      color: black;
    }

    .box {

      margin: 0;

      padding: 0;

      background-image: url(img/img2.jpg);

      background-size: cover;

      height: 500px;

      justify-content: center;

      align-items: center;

    }

    h1 {

      color: white;

      text-align: center;

      font-size: 50px;

      display: flex;

      justify-content: center;

      align-items: center;

    }

    .mess {

      text-align: center;

    }

    .user {

      text-align: center;

    }

    #subheading {

      display: flex;

      justify-content: center;

      align-items: center;


    }

    .button {
      border: 2px solid black;
      border-radius: 5px;
      background-color: white;
      color: black;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
    }

    /* Green */
    .success {
      border-color: #04AA6D;
      color: green;
    }

    .success:hover {
      background-color: #04AA6D;
      color: white;
    }

    /* Blue */
    .info {
      border-color: #2196F3;
      color: dodgerblue
    }

    .info:hover {
      background: #2196F3;
      color: white;
    }

    #p1 {

      color: black;
    }

    .bottom-container {

      background-color: #66BFBF;

      position: absolute;

      bottom: 0;

      width: 100%;

      height: 10%;

    }

    .last-line {

      margin: 0;

      color: #EAF6F6;

      padding: 20px 0 20px 0;

      background-color: #66BFBF;

    }
  </style>

</head>

<body>

  <div class="box">

    <h1>Cloud Kitchens</h1>

    <p id="subheading">Discover the Best Home Made Food Of Your Choice</p>

  </div>

  <br>
  <br>
  <br>

  <div class="mess">

    <p id="p1">Mess Owners, Click Below to Regiser with Cloud Kitchens!</p>

    <a href="/register"><input value="Click Here To Register" type="button" class="button info" id="btn1"></a>

  </div>

  <br>
  <br>
  <br>

  <div class="user">

    <p id="p1">Users, Click Below to Find Food Of Your Prefered Cuisine Near You.</p>

    <a href="/search"><input value="Click Here" type="button" class="button info" id="btn2"></a>

  </div>

  <br>
  <br>
  <br>

  <hr>

  <br>

  <address class="end">
    Published By <a href="mailto:krahul.view@gmail.com">Team Edge</a>.<br>
    Erandwane, Pune<br>
    India
  </address>

</body>

</html>
